.btn {
  padding: .5rem;
  
  border: none;
  outline: none;
  text-decoration: none;

  color: currentColor;
  background: white;
  border: 1px solid $gray-400;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .1ch;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    color: currentColor;
    background-color: $gray-100;
  }

  &.btn-primary {
    color: $blue;
    border: 1px solid $blue;
  }

  &.btn-success {
    color: $green;
    border: 1px solid $green;
  }

  &.btn-danger {
    color: $red;
    border: 1px solid $red;
  }

  &.btn-info {
    color: $cyan;
    border: 1px solid $cyan;
  }

  &.btn-sm {
    padding: .25rem;
    font-size: .9rem;
  }
}