.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;

  .card {
    position: relative;
    padding: 1rem;
    background: rgba(255, 255, 255, .7);
    border: $border;
    border-radius: 3px;
    box-shadow: $shadow;

    div:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    div:last-of-type {
      text-align: right;
    }

    &:first-of-type {
      grid-column: span 2;
      background: $gray-800;
      color: $gray-100;

      div:last-of-type {
        text-align: left;

        a {
          color: $gray-100;
        }
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: inset(8% 74% 76% 2%);
      transition: clip-path .5s cubic-bezier(0.075, 0.82, 0.165, 1);
      z-index: -1;
    }

    &:hover::before {
      clip-path: inset(74% 2% 5% 70%);
      // animation: card .6s forwards;
    }

    &.angular::before {
      background: $angular;
    }

    &.gfs::before {
      background: $firebase;
    }

    &.go::before {
      background: $go;
    }

    &.psql::before {
      background: $psql;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    .card:first-of-type {
      grid-column: span 1;
    }
  }
}

@keyframes card {
  0% { clip-path: inset(8% 74% 76% 2%); }
  40% { clip-path: inset(6% 1% 5% 2%); }
  100% { clip-path: inset(74% 2% 5% 70%); }
}