tpgsf-header {
  grid-column: 2/3;
  
  header {
    padding: .75rem 0 0;
    border-bottom: $border;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-nav {
        list-style: none;
        display: flex;

        .nav-item {
          position: relative;

          a, span {
            display: inline-block;
            color: $blue;
            padding: .5rem;
            text-decoration: none;
            cursor: pointer;
            user-select: none;

            &:hover {
              color: $cyan;
            }
          }

          &.has-dropdown::after {
            content: '+';
            margin-left: -.5rem;
          }

          &.has-dropdown:hover .dropdown,
          &.has-dropdown:focus-within .dropdown {
            opacity: 1;
            pointer-events: all;
          }
        }

        .dropdown {
          position: absolute;
          right: 0;
          list-style: none;
          background: $gray-000;
          opacity: 0;
          pointer-events: none;
          box-shadow: $shadow;
          z-index: 2;

          .dropdown-item {

            a {
              text-transform: capitalize;
              user-select: none;
            }
          }
        }
      }
    }
  }
}