.spacing > * + * {
  margin-top: 1.25rem;
}
.spacing-min > * + * {
  margin-top: .5rem;
}

.text-muted {
  color: $gray-500;
}

.info {
  background: $blue;
  color: $gray-100;
}

.logo {
  font-size: 1.4rem;
  a {
    color: $gray-800;
    text-decoration: none;
  }
}