$gray-000: hsla(210, 6%, 97%, 1);
$gray-100: hsla(210, 6%, 87%, 1);
$gray-200: hsla(210, 6%, 77%, 1);
$gray-300: hsla(210, 6%, 67%, 1);
$gray-400: hsla(210, 6%, 57%, 1);
$gray-500: hsla(210, 6%, 47%, 1);
$gray-600: hsla(210, 6%, 37%, 1);
$gray-700: hsla(210, 6%, 27%, 1);
$gray-800: hsla(210, 6%, 17%, 1);
$gray-900: hsla(210, 6%, 7%, 1);

$blue:    hsla(216, 72.75%, 43.76%, 1);
$indigo:  hsla(263, 72.75%, 43.76%, 1);
$pink:    hsla(330, 72.75%, 43.76%, 1);
$red:     hsla(354, 72.75%, 43.76%, 1);
$orange:  hsla(27, 72.75%, 43.76%, 1);
$yellow:  hsla(45, 72.75%, 43.76%, 1);
$green:   hsla(152, 72.75%, 43.76%, 1);
$teal:    hsla(162, 72.75%, 43.76%, 1);
$cyan:    hsla(190, 72.75%, 43.76%, 1);

$border: 1px solid $gray-200;
$bg-card: hsla(240, 67.7%, 98.5%, 1);

$shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);